<div class="tabs tabs-course_browser">
  {% include 'atoms-h2' with { "class": "tabs-course_browser_label", "content": "Browse Our Top Courses" } %}
  <ul class="tabs-course_browser_list" role="menu">
    <li class="tabs-course_browser_list_item"><a href="{{ url }}" data-tab="tab-1" class="active" role="menuitem">Clinical{% include "atoms-arrow-select" %} </a></li>
    <li class="tabs-course_browser_list_item"><a href="{{ url }}" data-tab="tab-2" role="menuitem">Workflow &amp; Process{% include "atoms-arrow-select" %} </a></li>
    <li class="tabs-course_browser_list_item"><a href="{{ url }}" data-tab="tab-3" role="menuitem">Patient Care{% include "atoms-arrow-select" %} </a></li>
    <li class="tabs-course_browser_list_item"><a href="{{ url }}" data-tab="tab-4" role="menuitem">Leading Change{% include "atoms-arrow-select" %} </a></li>
    <li class="tabs-course_browser_list_item"><a href="{{ url }}" data-tab="tab-5" role="menuitem">Personal Well-being{% include "atoms-arrow-select" %} </a></li>
  </ul>
</div>

