<!DOCTYPE html>
<html class="{{ htmlClass }} flexbox">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    {# Jquery #}
    <script src="../../assets/js/jquery-2.0.0b2.js" defer></script>

    <!-- Grunticon loader -->
    <script src="../../assets/icons/grunticon.loader.js"></script>
    <script>grunticon(["../../assets/icons/icons.data.svg.css", "../../assets/icons/icons.data.png.css", "../../assets/icons/icons.fallback.css"], grunticon.svgLoadedCallback );</script>
    <noscript><link href="icons.fallback.css" rel="stylesheet"></noscript>

    <!-- Typekit Font Script: Replace with Client's details -->
    <script src="https://use.typekit.net/eie0akm.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}"><div class="nav-primary-menu_overlay-mobile"></div>
