<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://use.typekit.net/eie0akm.css" />
    <link rel="stylesheet" href="../../assets/css/reset.css?{{ cacheBuster }}" />
    <!-- Include Panels IPE stylesheet in PatternLab but don't package it in with the rest of the Drupal things since it's already part of the module there. -->
    <link rel="stylesheet" href="../../assets/css/panels-ipe.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="../../assets/favicons/manifest.json" />
    <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="#46166b" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Grunticon loader -->
    <script src="../../assets/icons/grunticon.loader.js"></script>
    <script>grunticon(["../../assets/icons/icons.data.svg.css", "../../assets/icons/icons.data.png.css", "../../assets/icons/icons.fallback.css"], grunticon.svgLoadedCallback );</script>
    <noscript><link href="icons.fallback.css" rel="stylesheet"></noscript>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
    <div class="ama-theme">
        <div class="nav-primary_overlay-mobile"></div>
