<!DOCTYPE html>
<html class="{{ htmlClass }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://use.typekit.net/eie0akm.css" />
    <link rel="stylesheet" href="../../assets/css/reset.css?{{ cacheBuster }}" />
    <link rel="stylesheet" href="../../assets/css/panels-ipe.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../assets/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

    <!-- Grunticon loader -->
    <script src="../../assets/icons/grunticon.loader.js"></script>
    <script>grunticon(["../../assets/icons/icons.data.svg.css", "../../assets/icons/icons.data.png.css", "../../assets/icons/icons.fallback.css"], grunticon.svgLoadedCallback );</script>
    <noscript><link href="icons.fallback.css" rel="stylesheet"></noscript>


    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ bodyClass }}">
    <div class="ama-theme">
        <div class="nav-primary_overlay-mobile"></div>
