<ul>
  <li class="link-list_item">
    <a class="link-list_item-link" href="{{url}}">{{ item_1|default('List item 1') }}</a>
  </li>
  <li class="link-list_item">
    <a class="link-list_item-link" href="{{url}}">{{ item_2|default('List item 2') }}</a>
  </li>
  <li class="link-list_item">
    <a class="link-list_item-link" href="{{url}}">{{ item_3|default('List item 3') }}</a>
  </li>
  <li class="link-list_item">
    <a class="link-list_item-link" href="{{url}}">{{ item_4|default('List item 4') }}</a>
  </li>
</ul>