{% if engaged %}<div class="nav-primary_overlay-mobile nav-primary_overlay-mobile-on"></div>{% endif %}
<div class="nav-primary_button">Menu</div>

<nav class="nav-primary" role="navigation" aria-label="Main Navigation">
  <ul class="nav-primary_list nav-primary_list-mobile-closed {% if engaged %}nav-primary_list-mobile-open{% endif %}" role="menubar">
    <li class="nav-primary_section {% if engaged %}nav-primary_section-active{% endif %}">
      {% include '04-link-primary-nav.twig' with { 'content': nav.first } %}

      <ul class="nav-primary_section_subnav {% if engaged %}is-open{% endif %}">
        <div class="nav-primary_section_subnav_container-primary">
          <li class="nav-primary_section_subnav_item nav-primary_section_subnav_item-primary">{% include '04-link-primary-nav.twig' with { 'content': subnavfirstchild.first } %}</li>
        </div>
        <ul class="nav-primary_section_subnav_container-secondary" role="menu">
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfirstchild.second } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfirstchild.third } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfirstchild.fourth } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfirstchild.fifth } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
        </ul>
        <li class="nav-primary_section_subnav_back"><a class="link-nav-primary" href="{{url}}">{% include "atoms-arrow-select" %} Back</a></li>
      </ul>
    </li>
    <li class="nav-primary_section">
          {% include '04-link-primary-nav.twig' with { 'content': nav.second } %}

      <ul class="nav-primary_section_subnav">
        <div class="nav-primary_section_subnav_container-primary">
          <li class="nav-primary_section_subnav_item nav-primary_section_subnav_item-primary">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.first } %}</li>
        </div>
        <ul class="nav-primary_section_subnav_container-secondary" role="menu">
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.second } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.third } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.fourth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.fifth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.sixth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavsecondchild.seventh } %}</li>
        </ul>
        <li class="nav-primary_section_subnav_back"><a class="link-nav-primary" href="{{url}}">{% include "atoms-arrow-select" %} Back</a></li>
      </ul>
    </li>
    <li class="nav-primary_section">
        {% include '04-link-primary-nav.twig' with { 'content': nav.third } %}

      <ul class="nav-primary_section_subnav">
        <div class="nav-primary_section_subnav_container-primary">
          <li class="nav-primary_section_subnav_item nav-primary_section_subnav_item-primary">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.first } %}</li>
        </div>
        <ul class="nav-primary_section_subnav_container-secondary" role="menu">
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.second } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.third } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.fourth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.fifth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.sixth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.seventh } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavthirdchild.eighth } %}</li>
        </ul>
        <li class="nav-primary_section_subnav_back"><a class="link-nav-primary" href="{{url}}">{% include "atoms-arrow-select" %} Back</a></li>
      </ul>
    </li>
    <li class="nav-primary_section">
        {% include '04-link-primary-nav.twig' with { 'content': nav.fourth } %}

      <ul class="nav-primary_section_subnav">
        <div class="nav-primary_section_subnav_container-primary">
          <li class="nav-primary_section_subnav_item nav-primary_section_subnav_item-primary">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.first } %}</li>
        </div>
        <ul class="nav-primary_section_subnav_container-secondary" role="menu">
         <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.second } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.third } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.fourth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.fifth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.sixth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.seventh } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.eighth } %}</li>
          <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': subnavfourthchild.ninth } %}</li>
        </ul>
        <li class="nav-primary_section_subnav_back"><a class="link-nav-primary" href="{{url}}">{% include "atoms-arrow-select" %} Back</a></li>
      </ul>
    </li>
    <li class="nav-primary_section">
        {% include '04-link-primary-nav.twig' with { 'content': nav.fifth } %}

      <ul class="nav-primary_section_subnav">
        <div class="nav-primary_section_subnav_container-primary">
          <li class="nav-primary_section_subnav_item nav-primary_section_subnav_item-primary">{% include '04-link-primary-nav.twig' with { 'content': subnavfifthchild.first } %}</li>
          <ul class="nav-primary_list_sub-subnav-container" role="menu">
            <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': 'House of Delegates' } %}</li>
            <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': 'Member Sections & Groups' } %}</li>
            <li class="nav-primary_section_subnav_item">{% include '04-link-primary-nav.twig' with { 'content': 'Councils' } %}</li>
          </ul>
        </div>
        <ul class="nav-primary_section_subnav_container-secondary" role="menu">
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfifthchild.second } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfifthchild.third } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfifthchild.fourth } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
          <li class="nav-primary_section_subnav_item">
            {% include '04-link-primary-nav.twig' with { 'content': subnavfifthchild.fifth } %}
            {% include 'atoms-paragraph' with { 'content': 'Proin quis ante quam. Duis sit amet risus sit amet elit dapibus dictum. Integer imperdiet dolor. ', 'class': 'nav-primary_section_subnav_item_text' } %}
          </li>
        </ul>
        <li class="nav-primary_section_subnav_back"><a class="link-nav-primary" href="{{url}}">{% include "atoms-arrow-select" %} Back</a></li>
      </ul>
    </li>
  </ul>
</nav>
