<ul class="breadcrumbs">
  <li class="breadcrumb_list-item"><a href="{{ url }}">Grandparent</a></li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Parent</a></li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Child</a></li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Grandchild</a></li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Great-Grandchild</a></li>
</ul>