<ul class="breadcrumbs">
  <li class="breadcrumb_list-item"><a href="{{ url }}">Grandparent</a>{% include "02-arrow-next.twig" %}</li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Parent</a>{% include "02-arrow-next.twig" %}</li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Child</a>{% include "02-arrow-next.twig" %}</li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Grandchild</a>{% include "02-arrow-next.twig" %}</li>
  <li class="breadcrumb_list-item"><a href="{{ url }}">Great-Grandchild</a></li>
</ul>