<select name="{{ for|default('select') }}">
  <option value="" selected="selected">{{ selectedContent|default('Select an option') }}</option>
  <option>{{ content|default('Option one') }}</option>
  <option>{{ content|default('Option two') }}</option>
  <option>{{ content|default('Option three') }}</option>
</select>
